In [1]:

import pandas as pd

In [3]:
file_path = "Education price index (EPI), elementary and secondary.csv"
df = pd.read_csv(file_path)

In [4]:
df.head()

,REF_DATE,GEO,DGUID,Index categories,Base year,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1971,Canada,NaN,Education price index (EPI),Base year 1986=100,Index,160,units,0,v1026884,1.1.1,29.82,NaN,NaN,NaN,2
1,1971,Canada,NaN,Education price index (EPI),Base year 1992=100,Index,160,units,0,v1026885,1.1.2,22.82,NaN,NaN,NaN,2
2,1971,Canada,NaN,Salaries and wages sub-index,Base year 1986=100,Index,160,units,0,v1026886,1.2.1,30.51,NaN,NaN,NaN,2
3,1971,Canada,NaN,Salaries and wages sub-index,Base year 1992=100,Index,160,units,0,v1026887,1.2.2,23.36,NaN,NaN,NaN,2
4,1971,Canada,NaN,Teachers' salaries sub-index,Base year 1986=100,Index,160,units,0,v1026888,1.3.1,30.91,NaN,NaN,NaN,2